body,ul,li,dl,dt,dd,p,ol,h1,h2,h3,h4,h5,h6,form,img,table,fieldset,legend{margin:0; padding:0;}
ul,li,ol{list-style:none;}
img,fieldset{border:0; }
a{text-decoration:none; color:#333;}
/* h1,h2,h3,h4,h5,h6{font-weight:100;} */
body{
    font-size:14px; 
    font-family: 'Avenir', Helvetica, Arial, sans-serif,"微软雅黑";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
input,a{outline:none;}
.center{
    -webkit-display:flex;
    -moz-display:flex;
    -o-display:flex;
    -ms-display:flex;
    display: flex;

    -webkit-justify-content:center;
    -moz-justify-content:center;
    -o-justify-content:center;
    -ms-justify-content:center;
    justify-content: center;

    
    -webkit-align-items:center;
    -moz-align-items:center;
    -o-align-items:center;
    -ms-align-items:center;
    align-items: center;
}